/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------------------------------------------------------------------------------------- */
body{
    font-family: 'Roboto', sans-serif;
}
.ital {
    font-style: italic;
}
.panda-logo {
    height: 4rem;
    width: 4rem;
    display: inline;
}

.image-container {
    display: flex;
    height: 100vh;
    width: 50vw;
    background-size: cover; /* Cover the entire area of the container */
    /* crops the picture to be in the middle of the frame */
    background-position: center; /* Center the image in the container */
    background-image: url('/img/panda\ background.webp'); /* Path to your image */
    background-repeat: no-repeat; /* Prevent repeating the image */
    align-items: flex-start; /* Align items to the start (top) of the container */
    padding-top: 5%; /* Adjust this value as needed */
}

.image-container > .text-container{
    display: flex;
    
    font-size: clamp(1vh, 2vw, 4vh); /* Responsive font size */
    text-align: center;
    font-family: 'EB Garamond', serif;
    color: white; /* Opaque text color */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5.5rem;
    background-color: rgba(0, 0, 0, 0.5); /* Grey background with 50% opacity */
    opacity: 1; /* Full opacity for the text */
}

.main-container {
    display: flex;

}

.container{
    display: flex;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(246, 246, 246);
    gap: 10vh;
}
.header>p {
    font-weight: 700;
    font-size: clamp(1.5vh, 3vw, 3vh); /* Responsive font size */
    padding: 0 6% 0 5%;
}
fieldset{
    padding: 2vh 0 0 0;
    border:.1vh solid transparent;
    border-top: #eceaea;
    border-width: .1vh;
    border-style: solid;
    box-shadow: 0px 5px 5px rgb(146, 146, 146);
    background-color: white;
    height: 100%;
}

.sign-up {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vh;
    
  }
  .legend{
    padding: 0 5%;
    font-size: 2.5vh;
    text-align: left;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    padding: 0 5%;
    width: 35vw;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    gap: .5vh;
    margin-top: 1vh;
  }

  input{
    border-color: #E5E7EB;
    border-radius: 5px;
    border-style:solid;
    width: 80%;
    height: 2.5vh;
    font-size: 1.3vh;
    padding: 0 .5vh;
  }
  input:focus{
    border-color: blue;
    border-style: solid;
    outline: none;
    box-shadow: 0px 0px 10px lightblue;
  }
  input::placeholder{
    color: rgb(186, 186, 186);
  }
  label {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5vh;
    color:#3a3a3a
  }
  
  .footer{
    padding: 0 5%;
    display: flex;
    flex-direction: column;
  }
  .footer input {
    width: 15vw;
    min-width: 12vh;
    height: 4vh;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: clamp(1.5vh, 1.5vw, 2vh); /* Responsive font size */
    background-color: lightblue;
    border-radius: 8px;
    border:.1vh solid transparent;
    box-shadow: 0px 5px 5px rgb(146, 146, 146);
  }
  .footer input:hover{
    border:.2vh ridge darkblue;
    border-style:solid;
    cursor: pointer;
  }
  .footer a {
    text-decoration: none;
  }
  .footer a:hover {
    text-decoration: underline;
  }

  .hidden {
    display: none;
  }
  .hintVisible {
    display: block;
    width: 90%;
    font-size: 1.2vh;
    margin-top: 0.5vh;
    color: red;
  }
  @media screen and (max-width: 600px) {
    .grid-container {
      grid-template-columns: 1fr; /* Stack columns on smaller screens */
    }
  }
  